body {
    background-color: #426c48;
    font-family: 'Poppins', sans-serif;;
    margin: 0;
    overflow: hidden; 
  }
  
  .responsive-iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; 
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  
  nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 4;
  }
  
  .restart {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    z-index: 5;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .title {
    margin-bottom: 50px;
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
  }
  
  
  h1 {
    color: #a4d08e;
    font-size: 70px;
  }
  
  h2 {
    color: #d7b08dc5;
  }
  
  h3 {
    color: #a4d08e;
    font-size: 12px;
    text-align: center;
  }
  
  p {
    text-align: left;
  }
  
  .start-container {
    text-align: center;
  }
  
  .start-button {
    padding: 10px 20px;
    background-color: #4d6844;
    color: #ffffff; 
    border-radius: 20px;
    text-decoration: none;
    font-size: 30px;
  }
  
  .room {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #426c48;
  }
  
  .outside {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #426c48;
  }

  .dressing {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d4ac82;
    background-size: cover;
  }
  
  .bed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    background-size: cover;
  }
  
  .street {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    background-size: cover;
  }

  .closet {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  background-size: cover;
}
  
.house {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    background-size: cover;
  }
  
  .man{
    position: absolute;
    top: 70%;
    left: 16%;
    z-index: 3;
    width: 16.5%;
    animation: pulse 2s infinite;
  }
  
  .girl{
    position: absolute;
    top: 75%;
    left: 30%;
    z-index: 3;
    width: 15%;
    animation: pulse 2s infinite;
  }

  .fashion{
    position: absolute;
    top: 82%;
    left: 60%;
    z-index: 4;
    width: 6%;
  }
  
  .phone{
    position: absolute;
    top: 67%;
    left: 45%; 
    z-index: 3;
    width: 4%;
    animation: pulse 2s infinite;
  }
  
  .card{
    display: block;
    position: relative;
    z-index: 15;
    padding: 10px 0px 0px 0px;
  }

  .card img {
    width: 250%; /* Adjust width to occupy full width of the card */
    height: auto; /* Maintain aspect ratio */
    max-width: 500px; /* Optionally limit the maximum size */
}



  .avatar {
    position: absolute;
    top: 48%;
    left: 30%;
    z-index: 4;
    width: 20%;
  }

  .notice {
    position: absolute; 
    top: 50%; 
    left: 40%; 
    font-size: 15px; 
    color: black; 
    text-decoration: none;
    z-index: 10; 
  }
  .arrow {
    position: absolute; 
    top: 30%; 
    left: 20%; 
    font-size: 15px; 
    color: black; 
    text-decoration: none;
    z-index: 10; 
    animation: pulse 2s infinite;
  }

  .arrow1 {
    position: absolute; 
    top: 50%; 
    left: 40%; 
    font-size: 15px; 
    color: rgb(255, 255, 255); 
    text-decoration: none;
    z-index: 10; 
    animation: pulse 2s infinite;
  }
  
  .arrow1:hover {
    color: rgb(0, 0, 0); /* Change color on hover */
  }

  .exit-button {
    position: absolute;
    top: 40px;
    right: 900px;
    background-color:#426c48;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 50px;
    z-index: 1000;
  }
  
  .exit-button:hover {
    background-color: #263e29;
  }
  
  .pulse-animation {
    animation: pulse 2s infinite;
    cursor: pointer;
  }
  
  
  .text-box {
    position: absolute;
    top: 50%; /* Adjust the positioning as needed */
    left: 50%; /* Adjust the positioning as needed */
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    text-align: center;
    height: 500px;
    width: 800px;
    border-radius: 20px;
    overflow: auto;
  }
  
  .text-box p{
    padding: 30px;
  }
  
  .video-container {
    display: none; /* Hide initially */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8); /* Optional for overlay effect */
    padding: 20px;
    border-radius: 10px;
    width: 50%; /* Adjust as needed */
    max-width: 100px;
  }

  .return-button {
    padding: 10px 20px;
    background-color: #4d6844;
    color: #ffffff; 
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .return-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  
  }
  
  .two-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
  
  
  
  .two-button-container .return-button{
    margin: 0 15px;
    font-size: 20px;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1); /* Slightly larger */
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    h1 {
      font-size: 60px; /* Adjust the font size for smaller screens */
  
    }
  
    h2 {
      font-size: 20px; /* Adjust the font size for smaller screens */
    }
  
    p {
      font-size: 14px; /* Adjust the font size for smaller screens */
    }
  
    .text-box {
      height: 80%; /* Adjust the text box size for even smaller screens */
      width: 70%;
    }
  
    .start-button {
      font-size: 24px; /* Adjust the button size for smaller screens */
    }
  }
  
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 40px; /* Adjust the font size for smaller screens */
  
    }
  
    h2 {
      font-size: 20px; /* Adjust the font size for smaller screens */
    }
  
    p {
      font-size: 14px; /* Adjust the font size for smaller screens */
    }
  
    .text-box {
      height: 80%; /* Adjust the text box size for even smaller screens */
      width: 70%;
    }
  
    .start-button {
      font-size: 18px; /* Adjust the button size for smaller screens */
    }
  
    .return-button {
      padding: 5px 10px; /* Adjust the padding for the return button */
      background-color: #4d6844;
      font-size: 18px; /* Adjust the font size for the return button on smaller screens */
    }
  
    .two-button-container .return-button{
      padding: 5px 10px;
      font-size: 18px;
    }
  
  
    .restart{
      font-size: 18px; 
    }
  }
  
  /* Adjustments for even smaller screens */
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 20px; /* Adjust the font size for even smaller screens */
    }
  
    h2 {
      font-size: 18px; /* Adjust the font size for even smaller screens */
    }
  
    p {
      font-size: 8px; /* Adjust the font size for even smaller screens */
    }
  
    .text-box {
      height: 60%; /* Adjust the text box size for even smaller screens */
      width: 60%;
    }
  
    .start-button {
      font-size: 10px; /* Adjust the button size for smaller screens */
    }
  
    .return-button {
      padding: 5px 10px; /* Adjust the padding for the return button */
      background-color: #4d6844;
      font-size: 10px; /* Adjust the font size for the return button on smaller screens */
    }
  
    .two-button-container .return-button{
      padding: 5px 10px;
      font-size: 10px;
    }
  
    .restart{
      font-size: 10px; 
    }
  
  }